.domain-container {
  background-color: black;
  text-align: center;
  margin: auto;
  padding-top: 100px;
  min-height: 100vh;
}

.domain-header {
  color: rgb(255, 255, 255);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.domain-header  {
  font-size: 5em;
  line-height: 0.45;
  margin-top: 25px;
  opacity: 0;
  transform: translateY(20px);
}

.domain-visible .domain-header {
  opacity: 1;
  transform: translateY(0);
}

.domain-down-icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  font-size: 15px;
  color: #000000;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  padding: auto;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  margin-top: 20px;
}

.domain-down-icon:hover {
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.131);
}