.domain-container {
  background-color: black;
  text-align: center;
  margin: auto;
  margin-top: 100px;
  padding-top: 120px;
  padding-bottom: 1000px;
  min-height: 50vh;
}


.domain-header {
  color: rgb(255, 255, 255);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.domain-header  {
  font-size: 4.5em;
  margin-top: 250px;
  letter-spacing: 25px;
  opacity: 0;
  transform: translateY(50px);
  z-index: 2;
}

@media screen and (max-width: 650px) {
  .domain-header {
    font-size: 4.0em;
    letter-spacing: 10px;
  }
}

.domain-visible .domain-header {
  opacity: 1;
  transform: translateY(0);
}

.domain-down-icon {
  margin: auto;
  margin-top: 150px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 250px;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  background: linear-gradient(45deg, #de3bff, #ea07ff);
  -webkit-background-clip: text;
  filter: drop-shadow(0 0 10px rgba(38, 215, 255, 0.846));
}


.domain-down-icon:hover {
  color: #fff;
  background: none;
  animation: none;
}
