.domain-container {
  background-color: black;
  text-align: center;
  margin: auto;
  padding-bottom: 100px;
  padding-top: 100px;
  min-height: 100vh;
}

.domain-header {
  color: rgb(255, 255, 255);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.domain-header  {
  font-size: 4.5em;
  margin-top: 250px;
  letter-spacing: 25px;
  opacity: 0;
  transform: translateY(50px);
  z-index: 2;
}

@media screen and (max-width: 650px) {
  .domain-header {
    font-size: 4.0em;
    letter-spacing: 10px;
  }
}

.domain-visible .domain-header {
  opacity: 1;
  transform: translateY(0);
}

.domain-down-icon {
  margin: auto;
  margin-top: 150px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 250px;
  color: rgba(255, 255, 255, 0.78);
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
}

.domain-down-icon:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.131);
  animation: none;
}
