.fixed-header {
  font-family: 'Raleway', 'sans-serif';
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  position: relative;
  margin-left: 10px;
}

.navbar::after {
  content: "";
  position: absolute;
  bottom: -2px; 
  left: 0;
  width: 100%;
  height: 2px; 
  animation: glowing-border-animation 10s infinite;
}

@keyframes glowing-border-animation {
  0% {
    opacity: 0.8; 
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

.nav-link {
  font-size: 12.6px;
  color: rgba(50, 50, 50, 0.235);
  cursor: pointer;
}

.nav-link:hover {
  color: #007bff !important; 
}

.navbar-toggler{
  margin-left: 5px;
}

.navbar-toggler:focus, navbar-toggler:active {
  border: 1px solid white;
  color: transparent;
}

.navbar-toggler-icon {
  width: 15px;
  height: 20px;
}

.navbar-toggler-icon:active {
  border-color: transparent;
}

.navbar-toggler-icon:focus {
  border-color: transparent;
}