.home-container {
  min-height: 100vh;
  margin-top: 100px;
  font-family: 'Raleway', sans-serif;
}

.project-title {
  font-size: 5.0em;
  letter-spacing: -3px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
}

@media screen and (max-width: 1430px) {
  .project-title {
    font-size: 4.5em;
  }
}

@media screen and (max-width: 1380px) {
  .project-title {
    font-size: 4.4em;
  }
}

@media screen and (max-width: 1360px) {
  .project-title {
    font-size: 4.2em;
  }
}

.image-container {
  flex-shrink: 0; 
  margin-right: 150px;
}

.image-container img {
  width: 100%; 
  max-width: 500px; 
  height: auto;
}

@media screen and (max-width: 1340px) {
  .project-title {
    font-size: 4.0em;
  }

  .image-container img {
    max-width: 480px;
  }
}

@media screen and (max-width: 1320px) {
  .project-title {
    font-size: 3.8em;
  }

  .image-container img {
    max-width: 470px;
  }
}

@media screen and (max-width: 1300px) {
  .image-container img {
    max-width: 460px;
  }
}

@media screen and (max-width: 1280px) {
  .image-container img {
    max-width: 440px;
  }
}

@media screen and (max-width: 1270px) {
  .home-container {
    margin-top: 175px;
  }

  .image-container img {
    max-width: 420px;
  }
}

@media screen and (max-width: 1245px) {
  .home-container {
    margin-top: 205px;
  }


  .image-container img {
    max-width: 380px;
  }
}

@media screen and (max-width: 1240px) {
  .image-container {
    margin-right: 100px;
  }
  
  .image-container img {
    max-width: 350px;
  }
}

@media screen and (max-width: 1230px) {
  .image-container {
    margin-right: 75px;
  }
  
  .image-container img {
    max-width: 325px;
  }
}

.text-container {
  flex: 1;
  max-width: 100%;
  margin-left: 200px;
  line-height: 1.2;
}

@media screen and (max-width: 1220px) {
  .image-container {
    margin-right: 15px;
  }
  
  .image-container img {
    max-width: 400px;
  }

  .text-container {
    margin-left: 175px;
  }
}

@media screen and (max-width: 1200px) {
  .image-container {
    margin-right: 50px;
  }

  .text-container {
    margin-left: 75px;
  }

  .project-title {
    font-size: 3.5em;
  }
}

@media screen and (max-width: 1180px) {
  .image-container {
    margin-right: 30px;
  }

  .text-container {
    margin-left: 50px;
  }

  .project-title {
    font-size: 3.5em;
  }
}

@media screen and (max-width: 1160px) {
  .image-container {
    margin-right: 25px;
  }

  .text-container {
    margin-left: 38px;
  }

  .project-title {
    font-size: 3.5em;
  }
}

@media screen and (max-width: 1140px) {
  .image-container {
    margin-right: 15px;
  }

  .text-container {
    margin-left: 28px;
  }

  .text-container p {
    font-size: 15px;
  }

  .project-title {
    font-size: 3.4em;
  }
}

@media screen and (max-width: 1125px) {
  .home-container {
    margin-top: 225px;
  }

  .image-container {
    margin-right: 12px;
  }

  .image-container img {
    max-width: 300px;
  }

  .text-container {
    margin-left: 25px;
  }

  .project-title {
    font-size: 3.4em;
  }
}

@media screen and (max-width: 1100px) {
  .home-container {
    margin-top: 230px;
  }

  .image-container {
    margin-right: 5px;
  }

  .image-container img {
    max-width: 300px;
  }

  .text-container {
    margin-left: 15px;
  }

  .project-title {
    font-size: 3.2em;
  }
}

@media screen and (max-width: 1075px) {
  .home-container {
    margin-top: 232px;
  }

  .image-container {
    margin-right: 2px;
  }

  .image-container img {
    max-width: 300px;
  }

  .text-container {
    margin-left: 10px;
  }

  .project-title {
    font-size: 3.2em;
  }
}

@media screen and (max-width: 975px) {
  .home-container {
    margin-top: 230px;
  }

  .image-container {
    margin-right: 2px;
  }

  .image-container img {
    max-width: 300px;
  }

  .text-container {
    margin-left: 10px;
  }

  .project-title {
    font-size: 3.2em;
  }
}

@media screen and (max-width: 900px) {
  .home-container {
    margin-top: 225px;
  }

  .image-container {
    margin-right: 2px;
  }

  .image-container img {
    max-width: 300px;
  }

  .text-container {
    margin-left: 10px;
    font-size: 14px;
  }

  .project-title {
    font-size: 3.2em;
  }
}

@media screen and (max-width: 600px) {
  .home-container {
    margin-top: 165px;
  }

  .image-container {
    margin-right: 2px;
  }

  .image-container img {
    max-width: 300px;
  }

  .text-container {
    margin-left: 10px;
    font-size: 14px;
  }

  .project-title {
    font-size: 3.2em;
  }
}

@media screen and (max-width: 450px) {
  .home-container {
    margin-top: 250px;
  }

  .image-container {
    margin-right: 2px;
  }

  .image-container img {
    max-width: 300px;
  }

  .text-container {
    margin-left: 10px;
    font-size: 14px;
  }

  .project-title {
    font-size: 3.0em;
  }
}

.hero-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.strength {
  font-weight: 800;
  color: black;
  letter-spacing: -0.5px;
}

.learn-more {
  font-size: 13px;
  float: left;
  margin-right: 50px;
  background: linear-gradient(45deg, #2196F3, #FF4081); 
  color: #fff; 
  padding: 10px 20px;
  text-decoration: none;
  outline: none;
  width: 150px;
}

.learn-more:hover {
  background: linear-gradient(45deg, #FF4081, #2196F3); 
}

@media screen and (max-width: 900px) {
  .learn-more {
    font-size: 12px;
  }
}

.p2 { 
    font-size: 16.5px;
    color: rgba(0, 0, 0, 0.86);
    line-height: 1.2;
  }

a {
    text-decoration: none;
    color: rgb(171, 130, 171);
}

a:hover {
  color: rgb(88, 159, 246)
}

.aldap {
  font-family: 'Raleway', 'sans-serif';
  font-size: 1em;
  color: black;
}

.unity {
  margin-bottom: 2px;
}