.infinite-void-container {
  background-color: black;
  margin-top: -25px;
}

.infinite-void {
  background-color: black;
  font-family: 'Raleway', sans-serif;
  margin: auto;
  font-weight: 100;
  font-size: 36px;
  color: white;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .infinite-void {
    text-align: center;
  }
}

.infinite-void-icon {
  font-size: 25px;
}

.slider-container {
  border: none;
}