.sequence-container {
  text-align: center;
  margin: auto;
  padding-top: 75px;
  min-height: 100vh;
  margin-bottom: -50px;
}

.sequence1, 
.sequence2, 
.sequence3, 
.sequence4,
.sequence5,
.sequence6,
.sequence7  {
  font-size: 5em;
  margin-bottom: -35px;
}

.sequence2 {
  color: rgba(0, 0, 0, 0.8); 
}

.sequence3 {
  color: rgba(0, 0, 0, 0.7); 
}

.sequence4 {
  color: rgba(0, 0, 0, 0.6); 
}

.sequence5 {
  color: rgba(0, 0, 0, 0.5); 
}

.sequence6 {
  color: rgba(0, 0, 0, 0.4); 
}

.sequence7 {
  color: rgba(0, 0, 0, 0.3); 
}

.sequence-down-icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.131);
  padding: auto;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  margin-top: 20px;
}

.sequence-down-icon:hover {
  color: #dddddd;
  background-color: rgba(255, 255, 255, 0.112);
}
