.sequence-container {
  text-align: center;
  margin: auto;
  margin-top: 50px;
  padding-top: 125px;
  min-height: 100vh;
}

.sequence1, 
.sequence2, 
.sequence3, 
.sequence4,
.sequence5,
.sequence6,
.sequence7  {
  font-size: 5em;
  font-weight: 100;
  line-height: 0.45;
  margin-top: 25px;
  opacity: 0;
  transform: translateY(20px);
}

.sequence-visible .sequence1,
.sequence-visible .sequence2,
.sequence-visible .sequence3,
.sequence-visible .sequence4,
.sequence-visible .sequence5,
.sequence-visible .sequence6,
.sequence-visible .sequence7 {
  opacity: 1;
  transform: translateY(0);
}

.sequence1 {
  font-weight: 200;
  color: black;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.sequence2 {
  color: rgba(0, 0, 0, 0.75);
  transition: opacity 1.5s ease, transform 1.5s ease; 
}

.sequence3 {
  color: rgba(0, 0, 0, 0.6); 
  transition: opacity 2.5s ease, transform 2.5s ease;
}

.sequence4 {
  color: rgba(0, 0, 0, 0.5); 
  transition: opacity 4s ease, transform 4s ease;
}

.sequence5 {
  color: rgba(0, 0, 0, 0.4); 
  transition: opacity 3s ease, transform 3s ease;
}

.sequence6 {
  color: rgba(0, 0, 0, 0.3); 
  transition: opacity 2.5s ease, transform 2.5s ease;
}

.sequence7 {
  color: rgba(0, 0, 0, 0.2); 
  transition: opacity 1s ease, transform 1s ease;
}

.sequence-down-icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  color: #dddddd;
  cursor: pointer;
  background-color: rgba(199, 199, 199, 0.112);
  padding: auto;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  margin-top: 20px;
}

.sequence-down-icon:hover {
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.131);
}

.research-photo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin: auto; 
  margin-top: 300px;
  margin-bottom: 350px;
}

.research-photo {
  width: 680px; 
  height: 620px; 
}

@media screen and (max-width: 550px) {
  .research-photo {
    width: 450px; 
    height: 450px
  }
}
