.simulation-container {
  background-color: black;
}

.video-container {
  position: relative;
  width: 750px;
  height: 500px;
  margin: auto;
  background-color: black;
  padding-left: 50px;
  padding-right: 50px;
}

@media screen and (max-width: 750px) {
  .video-container {
    width: 450px;
    height: 400px;
  }
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
  border-radius: 8px; 
}

.sequence-heading {
  color: white;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 25px;
}

.slick-slider {
  width: 75%; 
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  background: none;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.slick-dots {
  margin-top: 25px;
}

.dots {
  margin-top: 500px;
}