.simulation-container {
  /* background: linear-gradient(135deg, #4d7fffbe, #67d2e4, rgba(148, 148, 255, 0.626));  */
  /* border-left: solid black 30px; */
  /* border-right: solid black 30px; */
}

.slider-container {
  padding-bottom: 10px;
  border-top: solid white 5px;
  border-bottom: solid white 50px;
}

.slick-slider .slick-dots {
  margin-bottom: 10px;
}

.video-container {
  background-color: black;
  position: relative;
  max-width: 1000px;
  height: 500px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}

@media screen and (max-width: 750px) {
  .video-container {
    width: 350px;
    height: 400px;
  }

  .slider-container {
    border-top: 50px;
  }
}

video {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  border: none;
  border-radius: 8px;
  background-color: black;
}

.slick-slider {
  width: 75%; 
  margin: auto;
  margin-bottom: 25px;
  padding: 20px;
  border-radius: 20px;
  background: none;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.prototype {
  font-family: 'Raleway', sans-serif;
  margin: auto;
  font-weight: 100;
  font-size: 36px;
  background: linear-gradient(to right, rgba(0, 123, 255, 0.46), blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  margin-left: 15px;
}

@media screen and (max-width: 750px) {
  .prototype {
    text-align: center;
  }
}

.prototype-icon {
  font-size: 20px;
}

.slider-container img {
  width: 100%;
  height: 500px;
}

@media screen and (max-width: 750px) {
  .slider-container img {
      width: 100%;
      height: 350px;
  }
}
